.footer {
  background: #f2f2f2;
  color: #202124;
  // padding: 20px;
  @media screen and (max-width: 320px) {
    font-size: 0.8rem;
  }
  .wrapper {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    margin-bottom: 10px;
  }
  #nav {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 320px) {
      flex-direction: column;
    }
    .nav-items {
      display: flex;
      color: #70757a;
      list-style: none;

      li {
        margin: 10px;
        text-decoration: none;

        a {
          color: #70757a;
          text-decoration: none;
          padding: 10px;
        }
      }
    }
  }
}
