.footer{
        background: #f2f2f2;
        position: absolute;
        width: 100%;
        bottom: 10px;
        margin-top: 5rem;
        font-size: 14px;
        font-family: arial,sans-serif;
        color: #202124;
        .wrapper{
            padding: 15px 30px;
            border-bottom: 1px solid #dadce0;
            font-size: 15px;
            color: #70757a;
        }
        .text-area{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 20px;
            width: 100%;
            justify-content: center;
            .sidehustle{
                white-space: nowrap;
                vertical-align: top;
                color: #70757a;
                        }
                                }
                        .nav{
                        justify-content: flex-start;
                        min-width: 30%;
                        display: block;
                        padding: 20px;

                        white-space: nowrap;
                        color: #70757a;
             
    }
                        .end{

                          justify-content: flex-end;
                            min-width: min-width;
                        }
                    }
           ul {
        display: inline-block;
        list-style: none;
        li {
          margin-right: 20px;
          float: left;
          text-decoration: none;


          a {
            color: #70757a;
            text-decoration: none;
            padding: 10px;
            font-size: 15px;
            font-weight: 500;
           
          }
          .link:active::after {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            background-color: black;
          }
        }
      }


  @media only screen and (max-width: 600px){

.text-area {
    display: block;
    justify-content: space-evenly;
    border-top: 1px solid #dadce0;
    height: auto;
    margin: 0;
    min-height: 15px;
    padding: 15px 0;
    border-top: 1px solid #dadce0;
    line-height: 35px;
    text-align: center;
  
}
.sidehustle {
    display: none;
   }
   
.nav li{
    display: block;
}
}